.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgb(240, 240, 240);
    background-color: white;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    z-index: 1;
    height: 96%;

    img {
            width: 50%;
            align-self: center;
            border-radius: 50%;
            position: relative;
            top: -7%;
    }

    h2 {
        color: rgb(75, 68, 68);
        font-size: larger;
        font-weight: bolder;
        letter-spacing: 0.06rem;
    }

    h2, p {
        align-self: center;
        margin-bottom: 0;
    }

    p {
        font-weight: lighter;
        font-size: 12px;
    }
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.icon-container-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -24px;
    .group {
        height: 20px;
        width: 15px;
        align-self: center;
    }
    p {
        margin-bottom: 0;
        letter-spacing: 0.06rem;
    }
}

.icon-container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .phone {
        height: 20px;
        width: 15px;
        align-self: center;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
        letter-spacing: 0.06rem;
    }
}
.card-container:hover {
    transform: scale(1.05);
}

.half-circle {
    width: 100px;
    height: 50px;
    background-color: transparent;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 30px solid;
    border-bottom: 0;
    align-self: center;
    position: absolute;
    right: 29%;
    z-index: -1;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px;
}